.registration_please{
    width: 87%;
    height: 96%;
    display: flex;
    justify-content: center;
    margin: 1em;
}

.registration{
    width: 40%;
    height: 95%;
    box-shadow: 4px 5px 5px rgb(254, 255, 254) inset;
    background-color: rgb(254, 255, 254, 0.3);    
    box-sizing: inherit;
    padding: .5em 1em;
    color: rgb(62, 117, 59);    
    font-size: 18px;
    font-weight: 800;
    text-align: center;
    border-radius: .3em;
}


.name_surname{
    width: 90%;
    height: 25%;
    margin: 1.5em;
    display: flex;
    justify-content: center
}

.name{    
    width: 50%;
    height: 100%; 
}

.surname{   
    width: 50%;
    height: 100%;   
}

.date_phone{
    width: 90%;
    height: 25%;
    margin: 1.5em;
    display: flex;
    justify-content: center
}

.date{
    width: 50%;
    height: 100%;
}

.date
input{
    padding: .5em;
    color: rgb(62, 117, 59);
}

.phone{
    width: 50%;
    height: 100%;
}

.email_password{
    width: 90%;
    height: 25%;
    margin: 1.5em;
    display: flex;
    justify-content: center
}

.email{
    width: 50%;
    height: 100%;
}

.password{
    width: 50%;
    height: 100%;
}

.from_where{
    width: 100%;
    height: 25%;
    margin: 1em;
    font-size: 16px;
}

.from_where_header{
    font-size: 18px;
}

.from_where_radio input{
    display: none;
}  


.from_where_radio
label{
    font-size: 14px;
    display: inline-block;	
	padding: 0px 15px;
	line-height: 34px;
	border: 1px solid white;
	border-radius: 6px;
    box-shadow: 4px 5px 5px rgb(254, 255, 254, 0.7) inset;	   
}

.from_where_radio input:checked + label {
	background: rgb(106, 168, 207);
}

.feedback{
    width: 100%;
    height: 25%;
    margin: 0.5em;
}

.feedback
textarea{
    border-radius: .3em;
    border: .3em solid white;
    background-color: rgba(254, 255, 254, 0.5);
    box-shadow: 4px 5px 5px rgb(254, 255, 254, 0.7);
}

input{
    border-radius: .3em;
    border: .1em solid white;
    background-color: rgba(254, 255, 254, 0.5);
    box-shadow: 4px 5px 5px rgb(254, 255, 254, 0.7);
}

.button{
    width: 100%;
    height: 25%;
    margin: 2em;
}

.button
button{
    text-align: center;
    border: none;
    border-radius: 7px;
    padding: 10px 30px;
    background: rgb(106, 168, 207);
    cursor: pointer;
    font-weight: bold;
    color: rgb(62, 117, 59);    
    box-shadow: 4px 5px 5px rgb(254, 255, 254, 0.7) inset;
}